* {
    box-sizing: border-box;
}

body {
    background: mintcream;
}

.container {
    margin-top: 0px;
}

.head {
    text-align: center;
    color: dodgerblue;
}

.download-paper {
    float: right;
    margin-right: 0px;
    margin-top: -280px;
}

.download-figma {
    float: right;
    margin-right: 0px;
    margin-top: -320px;
}

.download-all {
    float: right;
    margin-right: -30px;
}
.download-paper-lab2{
    float: right;
    margin-right: 500px;
    margin-top: 0px;
}
.download-figma-lab2{
    float: right;
    margin-right: 500px;
    margin-top: 0px;
}
.download-all-lab2{
    float: right;
    margin-right: 480px;
}

.btn {
    background-color: aquamarine;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.btn:hover {
    background-color: aqua;
}

/*.tab-content {*/
/*    margin-left: -15px;*/
/*    margin-top: -25px;*/
/*}*/

p {
    font-size: 18px;
    font-family: Tahoma;
    margin: 10px 50px 10px;
}

#re ul li {
    list-style: none;
    margin-left: 25px;
}
iframe{
    margin-left: -220px;
}
